.container-1 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;  /* alows to smartly move the objects around */
}

.flex-box-container-1 div {         /* in this flex box i am telling everything inside of it the space out or "padding" */
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}